@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Camada base: configs globais */
@layer base {
  html {
    @apply font-ibm;
  }

  body {
    overflow-x: hidden;
  }
}

/* Camada utilities: classes customizadas */
@layer utilities {
  .container-x {
    @apply px-4 sm:px-8 md:px-[120px];
  }

  .container-2x {
    @apply px-4 sm:px-8 md:px-[240px];
  }

  .container-mbl {
    @apply px-2;
  }

  body.contrast .text-contrast {
    @apply text-[#FFFF00];
  }

    body.contrast .bg-contrast {
    @apply bg-[#0D0D0D];
    background-image: none !important;
  }

  body.contrast .button-contrast {
    @apply bg-[#0D0D0D] text-[#FFFF00] border border-[#FFFF00]
  }

  body.contrast .button-secundary-contrast {
    @apply border border-[#FFFF00] text-[#FFFF00]
  }

  body.contrast .input-contrast {
    @apply border border-[#FFFF00] bg-[#0D0D0D] text-[#FFFF00] placeholder:text-[#FFFF00]
  }

  /* HEADER  */

    header.contrast .text-contrast {
    @apply text-[#FFFF00];
  }

    header.contrast .bg-contrast {
    @apply bg-[#0D0D0D];
    background-image: none !important;
  }

  header.contrast .button-contrast {
    @apply bg-[#0D0D0D] text-[#FFFF00] border border-[#FFFF00]
  }

  header.contrast .button-secundary-contrast {
    @apply border border-[#FFFF00] text-[#FFFF00]
  }

}
